@use 'variables' as *;
/* Medical Journal */
.medical-journal {
  color: #fff;
  padding: 5rem 0;
}
.medical-journal .section-header h2 {
  color: black;
}
.view-all {
  text-decoration: none;
  font-size: 1rem;
  font-weight: 500;
  color: #1A1A1A;
  display: flex;
  align-items: center;
  padding: 16px 18px;
  gap: 10px;
  height: 51px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 16px;
}
.articles-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
  gap: 1.75rem;
}
.article-card {
  border-radius: 20px;
  overflow: hidden;
  border: solid rgba(233, 232, 232, 1) 1px;
}
.article-image {
  position: relative;
  height: 320px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.article-image img {
  border-radius: 12px;
  background-size: cover;
  background-position: center;
  object-fit: cover;
  width: calc(100% - 2rem);
  height: calc(100% - 2rem);
}
.tag {
  position: absolute;
  color: #1a1a1a;
  font-size: 0.85rem;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 16px;
  height: 33px;
  left: 27px;
  top: 27px;
  background: #F4F0E7;
  border-radius: 12px;
}
.article-info {
  padding: 0 1rem 1rem 1rem;
}
.date {
  font-size: 0.9rem;
  color: #888;
  display: block;
}
.article-info h3 {
  font-size: 1.25rem;
  line-height: 1.35;
  font-weight: 600;
  margin-bottom: 1rem;
  color: black;
}
.read-more {
  text-decoration: none !important;
  font-size: 1rem;
  height: 19px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0.01em;
  color: #1A1A1A;
  display: flex;
  width: 100%;
  justify-content: flex-end;
}
